<h2>Rombusz kerület, területszámítás</h2>
<div class="diamondForm">
    <div class="mt-3">
        <input type="text"
        placeholder="a oldal"
        [formControl]="aside"
        class="form-control"
        >
    </div>
    <div class="mt-3">
        <input type="text"
        placeholder="alfa szög"
        [formControl]="alpha"
        class="form-control"
        (keyup)="onKeyup($event)"
        >
    </div>

    <div class="mt-3"
    *ngIf="perimeterVisible"
    >
        <input type="text"
        readonly
        [formControl]="perimeter"
        class="form-control"
        >
    </div>

    <div class="mt-3"
    *ngIf="areaVisible"
    >
        <input type="text"
        readonly
        [formControl]="area"
        class="form-control"
        >
    </div>

</div>
